@model IEnumerable<CrudOperation.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create" >Create New </a>*@
    <a href="/Employees/Create" class="btn btn-success">Create New</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                Events
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.Image)*@
                    <img src="Images/@item.Image" style="width:35px;height:35px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeId  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId} ,
                    
                               new{onclick="return confirm('are you sure from deleted.....?')" })
                    
            </td>
        </tr>
}
    </tbody>
</table>
